{% extends "base.html" %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg">

{% include 'includes/alerts.html' %}

{% include 'includes/dashboard_sidebar.html' %}
	</aside>
	<main class="col-md-9">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3"> Change Password </strong>
		</header>
        <div class="card-body">
            <div class="text-center">
                <img src="{{ user.userprofile.profile_picture.url }}" alt="User Prifile Picture" width="100" height="100" style="border-radius:50px;">
            </div>

            <div class="row">
                <div class="col-md-12">
                    <form method="POST" action="{% url 'change_password' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                
                        <div class="form-group">
                                <label for="address_line1">Current Password</label>
                                <input type="password" class="form-control" name="current_password" id="current_password" placeholder="Current Password">
                        </div>
                        <div class="form-group">
                                <label for="address_line2">New Password</label>
                                <input type="password" class="form-control" name="new_password" id="new_password" placeholder="New Password">
                        </div>

                        <div class="form-group">
                                <label for="address_line2">Confirm Password</label>
                                <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
                        </div>

                        <br>
                        

                        </div>
                        <input type="submit" value="Update Profile" class="btn btn-primary">
		
					
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
		</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}